body {
  margin: 10px;
  }

h1,h2 {
  text-align: center;
}


.error {
  font-size: larger;
  font-weight: bold;
  color: red;
}

.message {
  font-size: large;
  font-weight: bold;
  color: green;
}

/* Styles used for the radio button */
.button-group {
  flex-grow: 1;
  margin: auto;
}

.button-group input[type="radio"] {
  display: none;
}

.button-group label {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #2b426d;
  background-color: #385c7e;
  color: white;
  border-radius: 15px;
  transition: all ease 0.2s;
  text-align: center;
  flex-grow: 1;
  flex-basis: 0;
  width: 90px;
  font-size: 13px;
  margin: 5px;
  box-shadow: 0px 0px 50px -15px #000000;
}

.button-group input[type="radio"]:checked + label {
  background-color: white;
  color: #02375a;
  border: 1px solid #2b426d;
}

fieldset {
  border: 0;
  display: flex;
}

/* Put each form field on a new line */
.upload {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  background-color: #1a1a1a;
  color: #fff;
  border: 1px solid #333;
}

/* resize input type="text" in AddUser component */
.resizedTextBox {
  width: 350px;
  height: 20px;
  padding: 1px
}


/* table style for printing the file list
** in components ViewPrivFiles and ViewPubFiles
*/
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}